@using ValuedTime.Quick.Host
@using ValuedTime.Quick.Support

@if (Node is not null)
{
    <div class="text-center">
        <span class="node-name">@Node.DisplayName:</span>
        <span style="display: inline-block; width: 1.5rem; height: 1.5rem; vertical-align: middle; background: @ColorOption?.HexValue"></span>
    </div>
}


@code {
    [Parameter]
    public InteractNode.Value? Node { get; set; }

    public ColorOption? ColorOption => Node?.CurrentInstance as ColorOption;
}
