
.node {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    padding: 0.3rem;
}

.node-type {
    font-size: 0.6rem;
}

.node-children {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
}