@using ValuedTime.Quick.Host

@if (RootNode is not null) 
{
    var appNodes = new Stack<(int Depth, IInteractNode Node)>(new[] { (0, RootNode) });

    while (appNodes.Any())
    {
        var (depth, node) = appNodes.Pop();

        var indent = (MarkupString)$"{string.Join("", Enumerable.Repeat("&nbsp;", depth))}⌙";
        <div>
            @indent@node.GetType().Name @node.DisplayName
        </div>

        ++depth;

        foreach (var n in node.Children)
        {
            appNodes.Push((depth, n));
        }
    }
}

@code {
    [Parameter]
    public IInteractNode? RootNode { get; set; }
}
